@font-face {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 400;
  font-stretch: normal;
  src: url("/assets/templates/comingsoon/fonts/NotoSans-Regular.woff2?e51d62f8e38642a8311b88a3d2e16628") format("woff2"), url("/assets/templates/comingsoon/fonts/NotoSans-Regular.woff?e51d62f8e38642a8311b88a3d2e16628") format("woff"), url("/assets/templates/comingsoon/fonts/NotoSans-Regular.eot?e51d62f8e38642a8311b88a3d2e16628") format("eot"), url("/assets/templates/comingsoon/fonts/NotoSans-Regular.ttf?e51d62f8e38642a8311b88a3d2e16628") format("truetype");
}
@font-face {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 700;
  font-stretch: normal;
  src: url("/assets/templates/comingsoon/fonts/NotoSans-Bold.woff2?e51d62f8e38642a8311b88a3d2e16628") format("woff2"), url("/assets/templates/comingsoon/fonts/NotoSans-Bold.woff?e51d62f8e38642a8311b88a3d2e16628") format("woff"), url("/assets/templates/comingsoon/fonts/NotoSans-Bold.eot?e51d62f8e38642a8311b88a3d2e16628") format("eot"), url("/assets/templates/comingsoon/fonts/NotoSans-Bold.ttf?e51d62f8e38642a8311b88a3d2e16628") format("truetype");
}
@font-face {
  font-family: 'Noto Sans';
  font-style: italic;
  font-weight: 400;
  font-stretch: normal;
  src: url("/assets/templates/comingsoon/fonts/NotoSans-Italic.woff2?e51d62f8e38642a8311b88a3d2e16628") format("woff2"), url("/assets/templates/comingsoon/fonts/NotoSans-Italic.woff?e51d62f8e38642a8311b88a3d2e16628") format("woff"), url("/assets/templates/comingsoon/fonts/NotoSans-Italic.eot?e51d62f8e38642a8311b88a3d2e16628") format("eot"), url("/assets/templates/comingsoon/fonts/NotoSans-Italic.ttf?e51d62f8e38642a8311b88a3d2e16628") format("truetype");
}
@font-face {
  font-family: 'Noto Sans';
  font-style: italic;
  font-weight: 700;
  font-stretch: normal;
  src: url("/assets/templates/comingsoon/fonts/NotoSans-BoldItalic.woff2?e51d62f8e38642a8311b88a3d2e16628") format("woff2"), url("/assets/templates/comingsoon/fonts/NotoSans-BoldItalic.woff?e51d62f8e38642a8311b88a3d2e16628") format("woff"), url("/assets/templates/comingsoon/fonts/NotoSans-BoldItalic.eot?e51d62f8e38642a8311b88a3d2e16628") format("eot"), url("/assets/templates/comingsoon/fonts/NotoSans-BoldItalic.ttf?e51d62f8e38642a8311b88a3d2e16628") format("truetype");
}
@font-face {
  font-family: 'Ekaterina Velikaya Two';
  font-style: normal;
  font-weight: 400;
  font-stretch: normal;
  src: url('/assets/templates/comingsoon/fonts/ekaterina_velikaya_two.woff2?e51d62f8e38642a8311b88a3d2e16628') format('woff2'), url('/assets/templates/comingsoon/fonts/ekaterina_velikaya_two.woff?e51d62f8e38642a8311b88a3d2e16628') format('woff'), url('/assets/templates/comingsoon/fonts/ekaterina_velikaya_two.eot?e51d62f8e38642a8311b88a3d2e16628') format('eot'), url('/assets/templates/comingsoon/fonts/ekaterina_velikaya_two.ttf?e51d62f8e38642a8311b88a3d2e16628') format('truetype');
}
.container {
  min-height: 100vh;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
}
.container .flexbox {
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-align: center;
  align-items: center;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  width: 100%;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  -ms-flex-preferred-size: auto;
  flex-basis: auto;
}
.container .content,
.container .plugin {
  width: 100%;
}
.container .content:after,
.container .content:before,
.container .plugin:after,
.container .plugin:before {
  display: table;
  content: "";
}
.container .content:after,
.container .plugin:after {
  clear: both;
}
.container .content:after,
.container .content:before,
.container .plugin:after,
.container .plugin:before {
  display: table;
  content: "";
}
.container .content:after,
.container .plugin:after {
  clear: both;
}
.container .content-wrapper,
.container .plugin-wrapper {
  padding-left: 15px;
  padding-right: 15px;
  text-align: center;
}
.container .plugin-wrapper {
  margin-right: auto;
  margin-left: auto;
  max-width: var(--clock-size);
  position: relative;
  overflow: hidden;
}
.container .plugin-wrapper .artclock {
  position: relative;
  overflow: hidden;
  border-radius: 50%;
}
.container .plugin-wrapper .artclock .clock {
  z-index: 2;
}
.container .content {
  margin-bottom: 20px;
}
.container .content a {
  text-decoration: underline;
}
.container .content a,
.container .content a:focus,
.container .content a:hover {
  color: var(--clock-page-color);
}
.container.columns .content,
.container.columns .plugin {
  width: 50%;
}
.container.columns .content {
  text-align: left;
  margin-bottom: unset;
}
@media (max-width: 767px) {
  .container.columns .content {
    text-align: center;
  }
}
.container.columns .plugin-wrapper {
  margin-right: 0;
}
@media (max-width: 767px) {
  .container {
    -ms-flex-direction: column;
    flex-direction: column;
    text-align: center;
  }
  .container .content,
  .container .plugin {
    -ms-flex: 1 0 100%;
    flex: 1 0 100%;
  }
  .container .content {
    margin-bottom: unset;
  }
  .container .plugin-wrapper,
  .container.columns .plugin-wrapper {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0.5em;
  }
}
.clock {
  position: relative;
  height: 0;
  padding-bottom: 100%;
  background-size: 90% 90%;
  background-color: var(--clock-color-clock);
  line-height: 1;
}
.clock,
.clock > div {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: contain;
  -ms-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
}
.clock > div,
.clock > div svg {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.clock,
.clock .background,
.clock .glass {
  width: 100%;
  border-radius: 50%;
  overflow: hidden;
}
.clock .glass {
  --background-image: url("/assets/templates/comingsoon/images/glass.png");
}
.clock .background {
  opacity: 0.9;
  z-index: 0;
}
.clock .background svg {
  fill: var(--clock-color-ciferblat);
}
.clock .hour {
  z-index: 1;
}
.clock .hour svg {
  fill: var(--clock-color-hour);
}
.clock .minute {
  z-index: 2;
}
.clock .minute svg {
  fill: var(--clock-color-minute);
}
.clock .second {
  z-index: 3;
}
.clock .second svg {
  fill: var(--clock-color-second);
}
.clock .glass {
  z-index: 3;
}
.footer {
  -ms-flex: 1 0 100%;
  flex: 1 0 100%;
  font-size: 12px;
  text-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-flex: 0;
  -webkit-flex-grow: 0;
  -ms-flex-positive: 0;
  flex-grow: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  -ms-flex-preferred-size: auto;
  flex-basis: auto;
}
.footer-wrapper {
  padding-left: 15px;
  padding-right: 15px;
}
