footer.footer.bvi-no-styles#colophon(role="contentinfo")
	.container.bvi-no-styles
		.footer-row.bvi-no-styles
			.footer-col-left.bvi-no-styles
				p.bvi-no-styles
					|Авторские права © [[GetDate? &str=`[(org_date)]`]] - [!$_SERVER['REQUEST_TIME']:dateFormat='Y'!] 
					a.bvi-no-styles(href="[(site_url)]")
						|[(site_name_org)]
			.footer-col-center.bvi-no-styles
				p.bvi-no-styles
					a.bvi-no-styles.icon-rss(href="[(site_url)]rss.xml" target="_blank")
			.footer-col-right.bvi-no-styles
				p.bvi-no-styles
					|Developed by: 
					a.bvi-no-styles(href="https://github.com/ProjectSoft-STUDIONIONS" target="_blank")
						|ProjectSoft © 2008 - [!$_SERVER['REQUEST_TIME']:dateFormat='Y'!]
.fancybox__wrapper
