footer.pageprint
	table.pageprint--table
		tr
			td.col--left
				|[!$_SERVER['REQUEST_TIME']:dateFormat='d.m.Y'!]</td>
			td.col--center
				|[(site_name)] &copy; [!GetDate? &str=`[(org_date)]` &dateFormat=`Y`!] - [!$_SERVER['REQUEST_TIME']:dateFormat='Y'!]
			td.col--right
				|{PAGENO}/{nbpg}
