.hidden
	.form.modal-form.sendbot(data-id="sendbot")
		button(data-fancybox-close="" class="fancybox-button fancybox-button--close" title="Закрыть")
			svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24")
				path(d="M12 10.6L6.6 5.2 5.2 6.6l5.4 5.4-5.4 5.4 1.4 1.4 5.4-5.4 5.4 5.4 1.4-1.4-5.4-5.4 5.4-5.4-1.4-1.4-5.4 5.4z")
		.row
			h2.container-full.text-center.form-title
				|Задать вопрос
			.container-full
				.row.form_wrapper.clearfix
					|[+form.messages+]
					form(method="post" data-modal="sendbot")
						input(type="hidden" name="formid" value="sendbot")
						input(type="hidden" value="[+url.value+]" name="url")
						.form-groups
							.form-group-item.form-group.clearfix
								input.form-group-item-control.form-control(type="text" name="last_name" value="[+last_name.value+]" placeholder="" autocomplete="off")
								label
									|Фамилия
							.form-group-item.form-group.clearfix
								input.form-group-item-control.form-control(type="text" name="first_name" value="[+first_name.value+]" placeholder="Фамилия" autocomplete="off")
								label
									|Имя
							.form-group-item.form-group.clearfix
								input.form-group-item-control.form-control(type="text" name="email" value="[+email.value+]" placeholder="Имя" required="required" autocomplete="off")
								label
									|Email
							.form-group-item.form-group.clearfix
								input.form-group-item-control.form-control(type="text" name="phone" value="[+phone.value+]" placeholder="Email" required="required" autocomplete="off")
								label
									|Телефон
							.form-group-item.form-group.clearfix
								textarea.form-group-item-control.form-control(type="text" name="message" rows="4" placeholder="Ваше сообщение" required="required" autocomplete="off")
									|[+message.value+]
								label
									|Ваше сообщение
							.form-group-item.form-group.clearfix
								label
									input.form-group-item-control(type="checkbox" name="policy" required="required" checked)
									| согласен с условиями политики конфиденциальности
									//- =" "
									//- a(href="[(site_url)][~79~]" target="_blank")
										|политики конфиденциальности
							.form-group-item.form-group.clearfix.text-center
								button.btn.btn-default(type="submit")
									|ОТПРАВИТЬ
									//- -1002425154100
