.hidden
	#sendbot.form.modal-form.sendbot
		button(data-fancybox-close="" class="fancybox-button fancybox-button--close" title="Закрыть")
			svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24")
				path(d="M12 10.6L6.6 5.2 5.2 6.6l5.4 5.4-5.4 5.4 1.4 1.4 5.4-5.4 5.4 5.4 1.4-1.4-5.4-5.4 5.4-5.4-1.4-1.4-5.4 5.4z")
		.row
			h2.container-full.text-center.form-title
				|Спасибо!
			.container-full
				p.text-center
					|Ваш Вопрос отправлен!
				p.text-cente
					|После рассмотрения Вашего вопроса мы с Вами свяжемся.
