.widgets
	|<@IF:[*id:is(1)*]>
	include widget_director.pug
	<@ENDIF>
	.widget.eye-widget
		article.widget-article
			.widget-article-content
				p.eya-panel
					a
						|Версия для слабовидящих
	|[[multiTV?
	|	&fromJson=`[(group_org)]`
	|	&tvName=`group_org`
	|	&display=`all`
	|]][[multiTV?
	|	&fromJson=`[(widgets_bar)]`
	|	&tvName=`widgets_bar`
	|	&display=`all`
	|]]
