# node & bower
bower_components
node_modules
dist
package-lock.json
# dotenv
.env

.ftppass

# composer
SOSH_composer

# test or temp
test
test.*
tests
temp
src/temp

# SublimeText workspace file
*.sublime-workspace
*.sql
*.zip
/**/test*.json
site/robots.txt
src/**/emojies.js
src/**/index.js

site/manager
site/vendor

site/assets/*.*
site/assets/backup
site/assets/cache
site/assets/export
site/assets/files
site/assets/images
site/assets/import
site/assets/js
site/assets/lib
site/assets/media
site/assets/site
site/assets/vendor
site/assets/thumbs
site/assets/.thumbs
site/assets/docs

# Snippets
site/assets/snippets/*

# Snippet phpthumb
!site/assets/snippets/phpthumb
site/assets/snippets/phpthumb/*
!site/assets/snippets/phpthumb/snippet.thumb.php

# Custom snippets
!site/assets/snippets/ogImage
!site/assets/snippets/dateRus
!site/assets/snippets/GetEvoVideo
!site/assets/snippets/GetScreenShot
!site/assets/snippets/FileExt

!site/assets/snippets/DocLister
site/assets/snippets/DocLister/*
!site/assets/snippets/DocLister/snippet.DLSitemapPS.php

!site/assets/snippets/pageBuilderToEvoSearch
!site/assets/snippets/evoSearch


# Modules
site/assets/modules/*

# Client Settings
!site/assets/modules/clientsettings
site/assets/modules/clientsettings/*
!site/assets/modules/clientsettings/config
site/assets/modules/clientsettings/config/*
!site/assets/modules/clientsettings/config/*.php

# Plugins
site/assets/plugins/*

# Custom plugins
!site/assets/plugins/EvoVideo
!site/assets/plugins/help_widget
!site/assets/plugins/mcecss
!site/assets/plugins/dashboard_widgets
!site/assets/plugins/school
site/assets/plugins/school/*.txt
site/assets/plugins/school/*.css

# Plugin PageBuilder
!site/assets/plugins/pagebuilder
site/assets/plugins/pagebuilder/*
!site/assets/plugins/pagebuilder/config
site/assets/plugins/pagebuilder/config/*
!site/assets/plugins/pagebuilder/config/container.programms.php
!site/assets/plugins/pagebuilder/config/documents.php
!site/assets/plugins/pagebuilder/config/files.php
!site/assets/plugins/pagebuilder/config/gallery.php
!site/assets/plugins/pagebuilder/config/richtext.php
!site/assets/plugins/pagebuilder/config/videos.php
!site/assets/plugins/pagebuilder/tpl
site/assets/plugins/pagebuilder/tpl/*
!site/assets/plugins/pagebuilder/tpl/field_evovideo.tpl
!site/assets/plugins/vasilek

# Plugin TinyMCE4
!site/assets/plugins/tinymce4
site/assets/plugins/tinymce4/*
!site/assets/plugins/tinymce4/theme
site/assets/plugins/tinymce4/theme/*
!site/assets/plugins/tinymce4/theme/theme.tinymce4.site.inc.php
!site/assets/plugins/tinymce4/tinymce
site/assets/plugins/tinymce4/tinymce/*
!site/assets/plugins/tinymce4/tinymce/plugins
site/assets/plugins/tinymce4/tinymce/plugins/*
!site/assets/plugins/tinymce4/tinymce/plugins/emotic

# Plugin Global
!site/assets/plugins/global

# Plugin Obfuscate
!site/assets/plugins/obfuscate

# Templates
site/assets/templates/*

# Custom Templates
!site/assets/templates/.*
!site/assets/templates/projectsoft
!site/assets/templates/comingsoon

# TV
site/assets/tvs/*

# Evo Video
!site/assets/tvs/EvoVideo

# RGB Color
!site/assets/tvs/rgbcolor

# Multi TV
!site/assets/tvs/multitv
site/assets/tvs/multitv/*
!site/assets/tvs/multitv/configs
site/assets/tvs/multitv/configs/*
!site/assets/tvs/multitv/configs/univers*
!site/assets/tvs/multitv/configs/govlist*
!site/assets/tvs/multitv/configs/widgets*
!site/assets/tvs/multitv/configs/sliders*
!site/assets/tvs/multitv/configs/share*
!site/assets/tvs/multitv/configs/group_org*

# Files
site/.*
site/*.md
site/*.php
site/*.txt
*.txt

# Food
site/food
site/food-*
site/icons-full

!site/.editorconfig
!.gitignore
!site/.htaccess

site/viewer/*
!site/viewer/.*

# Module School Folders
!site/assets/modules/school_folders
